<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="bold-text mb-22"> Sardar Vallabhbhai Patel High School, Khetiwadi(HS)
                    </div>
                    <p class="desc">
                        Sardar Vallabhbhai Patel High School Khetiwad, Anand managed by Charotar Education Society,
                        Anand was established in 1964. At that time the teaching learning started in the Home science
                        section. Principal shree Bhikhabhai Gulabbhai Desai started teaching voluntarily. The same
                        institution was shifted to Khetiwadi campus in 1965. The students of the school offered their
                        labour in the construction of the building. Principal shree Vitthhalbhai Jethabhai Patel started
                        the unit of 5th to 11thstd. In the beginning 2(two) acres of land were spared for the school but
                        later on Shree Kanaiyalal Munshi allotted 7.50 acres of land for the development of the school.
                        There was only one class of each std. in the beginning. The result of the school was 70% in the
                        very first year of the establishment.
                    </p>
                </div>
                <div class="btn-part">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->