<!-- About Section Start -->
<div class="rs-about style11 mt-10 pb-10 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/about.jpg" alt="About">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2 mt-50
                ">
                    <div class="sub-title">
                        History
                    </div>
                    <div class="bold-text mb-22">Sardar Vallabhbhai Patel High School, Khetiwadi (Upper Primary)
                    </div>
                    <p class="desc">
                        1894 ની આજુબાજુના સમયગાળામાં ચરોતરના વિદ્યાર્થીને મેટ્રિકની પરીક્ષા આપવા અમદાવાદ જવું પડતું.
                        તત્પશ્ચાત ઉચ્ચ અભ્યાસ અર્થે વડોદરા, અમદાવાદ, મુંબઇ ને પૂનાની કોલેજોમાં પ્રવેશ મેળવવો પડતો.
                        મોતીભાઈ સાહેબે પૂના મુકામે ડકકન એજ્યુકેશન સોસાયટીના સ્વયંસેવક સાથે ઊંડો વિચાર વિમર્શ કર્યો તથા
                        કાર્ય પધ્ધતિ અને બંધારણના અભ્યાસના પરિણામ સ્વરૂપે તારીખ 16/04/1916 ના રોજ પેટલાદ ખાતે ચરોતર
                        એજ્યુકેશન સોસાયટીની સ્થાપના થઇ. મંત્રી પદે અંબાલાલ મોતીલાલ પટેલ તથા પ્રમુખ પદે હરિજન સેવક
                        ઠક્કરબાપાએ કાર્યભાર સંભાળ્યો. ત્યારબાદ આ સંસ્થાએ આણંદમાં પોતાના પગ પ્રસાર્યા. ડી.એન. કેમ્પસ ખાતે
                        વિવિધ શાખાઓ ફેલાવી.
                    </p>
                </div>
                <div class="btn-part">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->