<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-80 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-12 md-mb-10 mt-10">
                        <ul class="nav nav-tabs intro-tabb tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about" role="tab" aria-controls="about"
                                    aria-selected="true">About</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Vision-Mission" role="tab" aria-controls="Vision-Mission"
                                    aria-selected="false">Vision & Mission</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Objectives" role="tab" aria-controls="Objectives"
                                    aria-selected="false">Objectives</a>
                            </li>
                        </ul>
                        <div class="intro-info-tabs">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                                                        <div class="img-part js-tilt">
                                                            <img src="assets/images/about.jpg" alt="The journey of Charotar
                                                            English Medium School">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                                                        <div class="sec-title2">
                                                            <h2 class="title purple-color mb-30">
                                                                History
                                                            </h2>
                                                            <div>
                                                                <span class="bold-text mb-22">Sardar Vallabhbhai Patel
                                                                    High School,
                                                                    Khetiwadi(HS)</span>
                                                                <p class="desc">
                                                                    Sardar Vallabhbhai Patel High School Khetiwad, Anand
                                                                    managed by
                                                                    Charotar Education Society,
                                                                    Anand was established in 1964. At that time the
                                                                    teaching
                                                                    learning started in the Home science
                                                                    section. Principal shree Bhikhabhai Gulabbhai Desai
                                                                    started
                                                                    teaching voluntarily. The same
                                                                    institution was shifted to Khetiwadi campus in 1965.
                                                                    The
                                                                    students of the school offered their
                                                                    labour in the construction of the building.
                                                                    Principal shree
                                                                    Vitthhalbhai Jethabhai Patel started
                                                                    the unit of 5th to 11thstd. In the beginning 2(two)
                                                                    acres of
                                                                    land were spared for the school but
                                                                    later on Shree Kanaiyalal Munshi allotted 7.50 acres
                                                                    of land for
                                                                    the development of the school.
                                                                    There was only one class of each std. in the
                                                                    beginning. The
                                                                    result of the school was 70% in the
                                                                    very first year of the establishment.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <p class="desc">
                                                        Principal Shree Ramanbhai Navrangbhai Patel, Shree Ambalal
                                                        Chotabhai Patel and Ochhavlal H.
                                                        Upadhyay played pivotal role in the development of the
                                                        school
                                                        without any remuneration. The
                                                        Agriculture University did not expect any funds and the
                                                        school
                                                        did not receive grant from
                                                        government. To meet the expenditure, farming was done in the
                                                        5
                                                        acres of the land and that income
                                                        was utilized for the development of the school. No financial
                                                        aid
                                                        was expected from the society.
                                                        Today a number of students who studied in the school have
                                                        secured high position in the country
                                                        and abroad.
                                                    </p>
                                                    <p class="desc mt-1">
                                                        This school has established its own place at state level and
                                                        national level. The brilliant
                                                        students have secured good ranks In S.S.C. board
                                                        examination.
                                                        Prajapati Anuj Haribhai stood
                                                        First in the state securing 96.86% of marks in S.S.C. board
                                                        examination. In 2011 Sarvaiya Parth
                                                        brought name and fame to the school by his outstanding
                                                        performance.
                                                    </p>
                                                    <p class="desc mt-1">
                                                        The campus of the school has been well known as a green
                                                        campus
                                                        in the area.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Vision-Mission" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4 class="title purple-color mb-30">Vision</h4>
                                                <ul class="review-list">
                                                    <li>We have created an ambience, an atmosphere which fosters free
                                                        thinking
                                                        between the student - Teacher, Teacher- Parents,
                                                        Teacher-Principal,
                                                        Teacher-Management, Student- Management.</li>
                                                    <li>It is through these positive vibes and synergy that the quest
                                                        for
                                                        excellence is attained</li>
                                                    <li>Encouraging the students to be participative in Co-Curricular
                                                        activities.</li>
                                                    <li>Promoting a desire to learn, skill to learn independently and
                                                        creative
                                                        inquiry.</li>
                                                </ul>

                                                <h4 class="title purple-color mb-30">Mission</h4>
                                                <ul class="review-list">
                                                    <p>Stepping back in time, we reach that moment in 1964, when the
                                                        school was
                                                        conceptualized - dream of none other than Mr. Vitthalbhai J.
                                                        Patel who
                                                        with his vast experience in the field, dreamed of school "with a
                                                        difference". A school that would address the needs of the
                                                        majority, with
                                                        opportunities in learning that equipped children with global
                                                        perspectives with a deep Indian cultural. An environment that
                                                        natured
                                                        equally, the cognitive, emotional, social, physical and
                                                        spiritual
                                                        domains in a child.</p>
                                                    <p>Learning with enjoyment or enjoyment with learning can happen
                                                        only in a
                                                        warm and friendly atmosphere and that has been the unique
                                                        achievement of
                                                        Sardar Vallabhbhai Patel.</p>
                                                    <p>Sardar Vallabhbhai Patel High School is dedicated to providing
                                                        students
                                                        with an outstanding preparation for life in a safe and
                                                        environment of
                                                        open and respectful relationships in which learning; high
                                                        achievement
                                                        good character, and participation in the school community are
                                                        valued.
                                                    </p>
                                                    <p>Our school has a long standing reputation as a high performance
                                                        school.
                                                        The values to which are aspire are intended engage every
                                                        students at the
                                                        highest level of their learning through quality care and
                                                        teaching.</p>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Objectives" role="tabpanel"
                            aria-labelledby="prod-instructor-tab">
                            <div class="content white-bg pt-30">
                                <div class="course-overview">
                                    <div class="inner-box">
                                        <h4>Learning</h4>
                                        <ul class="review-list">
                                            <li>Focus on teaching and learning.</li>
                                            <li>Everyone can learn and achieve.</li>
                                            <li>Purposeful, structured teaching.</li>
                                            <li>Motivation high teaching standard.</li>
                                            <li>Intensive staff development aimed at creating a learning organization.
                                            </li>
                                            <li>Curriculum with strong focus on the need of all standards.</li>
                                            <li>Maximum learning for each student.</li>
                                        </ul>
                                        <h4>High achievements</h4>
                                        <ul class="review-list">
                                            <li>High expectations.</li>
                                            <li>Regular monitoring of progress.</li>
                                            <li>Prepare all students to succeed.</li>
                                            <li>Inspire everyone to do one's best.</li>
                                            <li>Identify individual talents and develop them.</li>
                                        </ul>
                                        <h4>High achievements</h4>
                                        <ul class="review-list">
                                            <li>Develop into a responsible and socially well adjusted person.</li>
                                            <li>Promote acceptance and respect for all persons.</li>
                                            <li>Promote love for and loyalty to the nation.</li>
                                            <li>Service to the school.</li>
                                            <li>Example of the staff, parents and student's leaders.</li>
                                            <li>Good sportsmanship.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>