<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From Principal's desk</h2>
                    <h5>Yogeshkumar R. Patel
                        <br>
                        <span>- Principal, Sardar Vallabhbhai Patel, Khetiwadi (HS),</span>
                    </h5>
                    <p>
                        You are part of a proud legacy that began in 1964 with dedication, selfless service, and a
                        vision for excellence. Today, our school stands strong because of the values laid by our
                        founders and the achievements of students like you.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <p>
                        At Sardar Vallabhbhai Patel High School, we believe learning should be joyful, meaningful, and
                        holistic. With modern facilities, committed teachers, and a green, inspiring campus—your journey
                        here is not just about academics, but about becoming responsible, confident, and compassionate
                        individuals.
                    </p>
                    <p>
                        Stay curious, work hard, respect others, and never stop believing in your potential. The future
                        is yours to shape.
                    </p>

                    <p><strong>
                            Strive for knowledge. Grow with values. Lead with purpose.
                        </strong></p>
                </div>
            </div>
        </div>
    </div>
</section>