<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From Principal's desk</h2>
                    <h5>Bhartiben Patel
                        <br>
                        <span>- Principal, Sardar Vallabhbhai Patel, Khetiwadi (Primary),</span>
                    </h5>
                    <p>I firmly believe that education determines character and skill of the children. It must be
                        concrete. We aim to provide good and quality education with moral values. We are committed to
                        shape our students by bringing out the best from them.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/principal.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <p>"If one is not willing to learn, no one can teach." <br>
                        “If one is determined to learn, no one can stop.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>