.btn-outline-primary {
    color: #887904;
    border-color: #887904;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #887904;
    border-color: #887904;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #887904;
    border-color: #887904;
}